<mat-card-content class="container">
  <mat-card class="card-login">
    <mat-card-title>Login</mat-card-title>
    <form [formGroup]="formLogin" novalidate>
      <mat-card-content class="conteudo-login">
        <mat-form-field appearance="outline" class="form-field-full">
          <mat-label>Email</mat-label>
          <input
            type="email"
            matInput
            formControlName="Email"
            placeholder="Ex. barrosebs@gmail.com"
          />
          <mat-error
            *ngIf="
              formLogin.get('Email')?.hasError('Email') &&
              formLogin.get('Email')?.touched
            "
          >
            Por favor informe um email válido
          </mat-error>
          <mat-error
            *ngIf="
              formLogin.get('Email')?.hasError('required') &&
              formLogin.get('Email')?.touched
            "
          >
            Email é <strong>obrigatório</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="form-field-full">
          <mat-label>Senha</mat-label>
          <input type="password" matInput formControlName="Password" />
          <mat-error
            *ngIf="
              formLogin.get('Password')?.invalid &&
              formLogin.get('Password')?.touched
            "
            >Senha é
            <strong>obrigatória</strong>
          </mat-error>
        </mat-form-field>
      </mat-card-content>
    </form>
    <mat-card-actions align="end">
      <button
        mat-button
        color="primary"
        class="full"
        align="end"
        (click)="logar()"
      >
        Entrar
      </button>
    </mat-card-actions>
  </mat-card>
</mat-card-content>
